@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth transitions */
html {
  transition: background-color 0.5s, color 0.5s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
  color: inherit !important;
  transition: background-color 9999s ease-out, color 9999s ease-out;
  caret-color: inherit !important;
}

/* Custom scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(168, 85, 247, 0.4); /* light purple */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(168, 85, 247, 0.4) transparent;
}


